<div class="reservation-main-header">
  <div class="left-header">
    <div class="header-title">
      ご予約の状況：すべて
    </div>
  </div>
  <div class="right-header">
    <div class="header-button-parent">
      <div class="header-button-reverse">
        <%= link_to "Top Page", root_path, method: :get %>
      </div>
      <% if customer_signed_in? %>
      <div class="header-button">
        <%= link_to "To New Reservation", new_reservation_path, method: :get %>
      </div>
      <% else %>
      <div class="header-button-reverse">
        <%= link_to "To Sign Up", new_customer_registration_path, method: :get %>
      </div>
      <div class="header-button">
        <%= link_to "To Sign In", new_customer_session_path, method: :get %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% if @reservations.present? %>
<div class="reservations">
  <table class="index-table">
    <tr>
      <th>日付</th> <th>開始時刻</th> <th>終了時刻</th> <th>お客様名</th> <th>メニュー</th> <th>担当</th> <th>最終更新日時</th>
    </tr>
  <%= render partial: 'reservation', collection: @reservations %>
  <table>
</div>
<% else%>
<div class="reservations-none">
  <div class="reservation-none">
  <%= '予約情報はありません。ご予約をお待ちしております。' %>
  </div>
</div>
<% end %>
