<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
    </div>
    <div class="staffs">
      <%= link_to(root_path, method: :get) do %>
        <%= image_tag 'animal_chara_lion_biyoushi.png', size: "120x120" , class: "img-file"%>
      <% end %>
    </div>
  </div>
  <div class="reservation-main">
    <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
    <div class="reservation-main-header">
      <div class="left-header">
        <div class="header-title">
          サインイン
        </div>
      </div>
      <div class="right-header">
        <div class="header-button-parent">
          <div class="header-button-reverse">
            <%= link_to "Index Reservation", staffs_path %>
          </div>
          <div class='header-button-reverse'>
            <%= link_to 'To Sign Up', new_customer_registration_path%>
          </div>
          <div class="actions">
            <%= f.submit "Sign In", class: 'btn' %>
          </div>
        </div>
      </div>
    </div>
    <div class="reservation-parent">
      <div class="reservation">
        <%= devise_error_messages! %>
        <div class='field'>
          <div class='field-label'>
            <b>電子メールアドレス</b>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true%>
          </div>
          <div class='field'>
            <div class='field-label'>
              <b>パスワード</b>(英数字6文字以上)
              <%= f.label :password%>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
